*{
  box-sizing: border-box;
  

}

h2{
  color: white;
  font-family:'Atomic Age', cursive; 
}  

body {
  height: 100%;
  background-image: url(boat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:0;
  display:flex;

}
h1{
  background-color:rgba(0, 0, 0, 0.3);
  text-shadow: rgb(41, 41, 41) 2px 2px;
  padding: 10px;
  font-size: 40px;
  font-family: 'Atomic Age', cursive;
  color:white;
  border-radius: 20%;
  margin-bottom: 0px;
  margin-top: 0px
}

h3 {
  font-family: sans-serif;
  font-weight: 80;
  color: white;
  font-size: 20px;
  padding-top: 0px;
  background-color:rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding:20px;
  margin: 0px
}
h4 {
  display: flex;
  font-size: 20px;
  border-radius: 20%;
  font-family: 'Atomic Age', cursive;;
  background: rgba(200, 200, 200, 0.5);
  height:30px;
  justify-content: center;
  align-items: center;
  
  margin-top: 0px;
}
.grid{
background-color: rgba(0, 0, 0, 0.2);
margin-top: 20px;
height: 500px;
width: 500px;
display: flex;
flex-flow: row wrap;
border-style: none;
margin-bottom: 30%;
border-width: 0px;
border-radius: 10px;
}

.cell{
border-style: none;
height: 11.1%;
width: 11.1%;

}

.player{
  background-image: url('cher.jpg') ;
  background-size: cover;
  border-radius: 40%;
}

.spaceship {

background-color: chartreuse;

}

.alien{

  background-image: url('https://media.giphy.com/media/ns60OiQSlDK3S/giphy.gif');
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.bullet{
background-image: url("cd.jpg");
background-size: cover;
border-radius: 100%;
}

.bulletHole {
  background-color: white;
}

.dead {
  background-color: black;
}

.bomb{
  background-image: url("cannonBall.png");
  background-size: cover;
  border-radius: 100%;
  background-position: center;
}
.levelTwo {
  font-family: 'Atomic Age', cursive;
  font-size: 20px;
  color: black;
  height: 100px;
  width: 100px;
  margin: 25px;
  padding:20px 0 10px 20px;
  background-color:rgba(200, 200, 200, 0.5);
  border-radius: 20%;
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.levelThree {
  background: blue;
  color: white;
}

button {
  border-radius: 20%;
  background-color: rgba(200, 200, 200, 0.5);
  font-family: 'Atomic Age', cursive;
  font-size: 20px;
  margin-right:50px;
  margin-bottom: 20px;
  padding:20px;
}
.game {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin-top: 0px;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dancingCher{
background-size: cover;
background-image: url("cher.gif");
background-position: top;
background-repeat: no-repeat;


}

.disappointedCher{

  background-image: url("https://media.giphy.com/media/9G2OSJEk2YM8g/giphy.gif");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar {
  font-size: 20px;
  border-radius: 40%;
  font-family: 'Atomic Age', cursive;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

a:hover{
  background-color: rgba(0, 0, 0, 0.3); 
  color: white;
}