*{
  box-sizing: border-box;
  height:100vh;

}

h2{
  color: white;
  font-family:'Atomic Age', cursive; 
}

body{
  background-image: url(stage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;

}
h1{
  text-shadow: rgb(41, 41, 41) 2px 2px;
  font-size: 60px;
  font-family: 'Atomic Age', cursive;
  color:white;
  margin-bottom:0px;
  padding-bottom: 2px;
}

h3 {
  font-family: 'Atomic Age', cursive;
  color: white;
  font-size: 30px;
  padding-top: 0px;
}
.grid{
margin-top: 20px;
height: 500px;
width: 500px;
display: flex;
flex-flow: row wrap;
border-style: none;
margin-bottom: 30%;
border-width: 0px;
}

.cell{
border-style: none;
height: 11.1%;
width: 11.1%;

}

.player{
  background-image: url('cher.jpg') ;
  background-size: cover;
  border-radius: 40%;
}

.spaceship {

background-color: chartreuse;

}

.alien{

  background-image: url('https://media.giphy.com/media/ns60OiQSlDK3S/giphy.gif');
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.bullet{
background-image: url("cd.jpg");
background-size: cover;
border-radius: 100%;
}

.bulletHole {
  background-color: white;
}

.dead {
  background-color: black;
}

.bomb{
  background-image: url(lightning.png);
  background-size: cover;
}
.levelTwo {
  font-family: 'Atomic Age', cursive;
  font-size: 20px;
  color: white;
  display:flex;
  height: 100px;
  width: 100px;
  margin: 25px;
  padding:0px;
  background-color: red;
  justify-content: center;
  align-items: center;
}

.levelThree {
  background: blue;
  color: white;
}

.start {
  font-family: 'Atomic Age', cursive;
  font-size: 20px;
  height: 100px;
  width: 100px;
  margin:25px;
  padding:0px;
}
.game {
  display: flex;
  flex-direction: row;
}
.buttons {
  display: flex;
  flex-direction: column;
}